* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: lightgray;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;

}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;;
    display: inline-block;

}
nav a:hover {
   color: blue;
}

.Logo-class{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: .2em;
    margin: 0;
    font-size: 3em;


}

